.header {
	width: 100%;
    height: 50px;
    background-color: #108ee9;
    position: fixed;
    top: 0;
    z-index: 1000;
    min-width: 1050px;
}

.header-logo {
	float: left;
	width: 135px;
    padding: 0 12px;
    height: 50px;
    line-height: 47px;
    border-right: 1px solid #1186e2;
}
.header-logo2{
	float: left;
	color: #fff;
    font-size: 14px;
    padding: 0 12px;
    height: 50px;
    line-height: 50px;
}
.header-nav {
	height: 50px;
}
.header-nav li {
	border-left: 1px solid #1186e2;
    height: 50px;
    float: right;
    position: relative;
}
.header-nav li a {
	display: block;
    padding: 0 10px;
    color: #fff;
    text-align: center;
    height: 100%;
    line-height: 50px;
    font-size: 14px;
    position: relative;
}
.header-nav li a:hover {
	background-color: #1186e2;
}

.header-nav .gg-tips {
    width: 16px;
    height: 16px;
    background: url(http://localhost:4000/images/yjtips.png) no-repeat;
    top: 8px;
    right: 5px;
    position: absolute;
}
.header-link {
	color: #fff;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color .3s ease;
}
.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
    /* border-bottom: 2px solid #108ee9; */
	background-color: #fff;
    color: #fff;
}
.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu {
	position: relative;
    top: 1px;
    float: left;
	margin-bottom: 0;
}
.ant-modal-footer {
	padding: 5px 10px;
    background: #eaedf1;
    color: #666;
    font-size: 12px;
    line-height: 14px;
	text-align: left;
}
.ant-tabs-bar {
	margin-bottom: 0;
}
.ant-modal-close-x:before {
    position: absolute;
    top: -6px;
}
.ant-modal-body {
	padding: 0; 
	height: 400px;
}

/*二维码*/
.everycode {
    width: 140px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px #ddd;
    -moz-box-shadow: 0 2px 4px #ddd;
    -webkit-box-shadow: 0 2px 4px #ddd;
    background: #ffffff;
    position: absolute;
    left: -1px;
    top: 50px;
}
.everycode img {
    width: 120px;
    height: 120px;
}
.everycode p {
    font-size: 12px;
    text-align: center;
    width: 100%;
}

/*账号登录*/
.header-nav .loginout {
	background-color: #fff;
	display: block;
    text-align: center;
	outline: 0;
    color: #666;
    text-decoration: none;
    cursor: pointer;
    padding: 0 10px;
    height: 100%;
    line-height: 50px;
    font-size: 14px;
    position: relative;
	border-top: 1px solid #e5e5e5;
	box-shadow: 0 2px 4px #ddd;
	-webkit-box-shadow: 0 2px 4px #ddd;
}
.header-nav .loginout:hover {
	background-color: #fff;
}
.logout .anticon:before {
    position: relative;
    left: 3px;
}



/*消息*/
.ant-modal-wrap  .ant-tabs-nav-scroll {
    background-color: #108ee9;
}
.ant-modal-wrap  .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    background-color: #108ee9;
    color: #fff;
    border: 1px solid #108ee9;
}
.ant-modal-wrap .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    background: #fff;
    color: #f39000;
}


/*预警中心*/

.warmCenter {
   height: 462px;
}
.warmCenter .history-head {
    height: 35px;
    line-height: 35px;
    background: #108ee9;
    width: 100%;
    border-bottom: none;
}
.warmCenter .history-head .fl {
    padding-left: 20px;
    color: #fff;
    font-size: 13px;
}
.warmCenter .history-head .mr40 {
    color: #fff;
    font-size: 13px;
    margin-right: 40px;
}
.warmCenter .history-content {
    border-right: 1px solid #ddd;
    background: #fff;
    width: 280px;
}

.warmCenter .history-tit {
    height: 31px;
    line-height: 35px;
    width: 100%;
    background: #eaedf1;
   /* border-bottom: solid 1px #83cdce;*/
}
.warmCenter  .tab-cont {
    height: 356px;
    overflow: hidden;
}

/*分页*/
.warmCenter .page-bot {
    height: 40px;
    width: 100%;
    background: #eaedf1;
    color: #0196c8;
    position: relative;
	
}
.page-bot .ant-pagination {
    position: absolute;
    left: 70px;
    top: 10px;
}
.page-bot .ant-pagination-prev a:after, 
.page-bot .ant-pagination-next a:after {
    font-size: 24px;
    color: #0196c8;
}
.page-bot .ant-pagination-simple .ant-pagination-prev, 
.page-bot .ant-pagination-simple .ant-pagination-next {
    background: #eaedf1;
}



.warmCenter .history-detail {
    width: 519px;
    color: #333;
    position: relative;
    overflow: hidden;
}
.warmCenter .showWrap {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
}

.warmCenter .detail-top {
    display: table;
    width: 100%;
}
.warmCenter .history-detail li {
    border-bottom: 1px solid #ccc;
    min-height: 36px;
}
.history-detail li b {
    display: table-cell;
    height: 100%;
    width: 100px;
    border-right: 1px solid #ccc;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: middle;
}
.warmCenter .la {
    background: url(http://localhost:4000/images/la.png) no-repeat;
    width: 53px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -26.5px;
    z-index: 200;
    margin-top: -1px;
}
.warmCenter .mapWrap {
    width: 100%;
    height: 425px;
    overflow: hidden;
}




.ant-modal-close-x:before {
    color: #fff;
}
.ant-modal-body {
    height: auto;
}
.showtab{
    display: table;
}