.topbar {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    display: table;
}
.topbar-cell {
    display: table-cell;
    vertical-align: middle;
}
.topbar-tit {
    border-left: 4px #24a80b solid;
    padding-left: 8px;
    font-size: 14px;
    color: #333;
    float: left;
}
.fr {
    float: right;
}
.ant-input {
	width: 60%;
	margin-left: 5px;
}
.ant-select {
	margin-left: 5px;
}