.Collapse .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    height: 45px;
    line-height: 45px;
    padding-right: 10px;
}
.intru {
    border: 1px solid #e1e6eb;
}
.mb20 {
    margin-bottom: 20px;
}
.mt15 {
    margin-top: 15px;
}
.w {
    width: 100%;
}
.intru .t1 {
    font-size: 23px;
    color: #333333;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
.intru-box {
    width: 80%;
    margin: 0 auto;
}
.intru-box .h_wrap {
    height: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 39px;
    margin-top: 40px;
}
.intru-box h1 {
    font-size: 20px;
    color: #0088b5;
    font-weight: bold;
    display: block;
    height: 40px;
    line-height: 40px;
    background: #fff;
    width: 360px;
    margin-top: 40px;
}
.intru-box h1 img {
    margin-right: 10px;
    vertical-align: -7px;
}

.intru-box h2 {
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    margin-top: 20px;
}
.intru-box h3 {
    color: #333333;
    margin-top: 15px;
    font-weight: bold;
    line-height: 24px;
}
.intru-box>img {
    margin-top: 10px;
}
.intru-box ul {
    margin-top: 5px;
}
.intru-box ul li {
    margin-left: 20px;
    list-style: disc;
    font-weight: bold;
    color: #333333;
    margin-top: 10px;
}
.intru-box .h_wrap {
    height: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 39px;
    margin-top: 40px;
}

.tlines {
    border-bottom: 1px solid #ddd;
    width: 80%;
    margin: 10px auto 0;
}