.positionMap {
	height: 100%;
	width: 100%;
	background-color: #fff;
	position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    user-select: none;
}
.left-direct {
    border-right: 1px solid #b5b9c0;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 264px;
    height: 100%;
    cursor: pointer; 
    background: #fff;
}
.positionHeader {
	width: 100%;
    position: absolute;
    left: 264px;
    right: 0;
    z-index: 999;
    border: 1px solid #bbb;
    box-shadow: 0 1px 2px #caced5;
    min-width: 800px;
    color: #333;
	height: 29px;
    line-height: 29px;
    font-size: 13px;
    background: #000;
    border-top: none;
}
.positionMap .hlf{
	left: 0px;
}
.positionMap .lf{
	left: -265px;
}
.left-direct .row-btn {
    width: 30px;
    top: 50%;
    margin-top: -32px;
    background: url(http://localhost:4000/images/row2.png) no-repeat center;
    right: -28px;
    height: 65px;
    position: absolute;
    cursor: pointer;
}
.left-direct .on {
    background: url(http://localhost:4000/images/row1.png) no-repeat top left;
	right: -34px;
}

.positionContent {
    position: absolute;
    left: 0;
    top: 30px;
    bottom: 0;
    right: 0;
    background: #ddd;
}



.direct-top-tit {
    height: 25px;
    padding-top: 5px;
    background: #eaedf1;
    font-size: 12px;
}

.direct-top-tit .icon {
    cursor: pointer;
}
.icon-refresh {
    background-position: -140px -119px;
}
.icon {
    display: inline-block;
    vertical-align: -4px;
    width: 18px;
    height: 18px;
    background-image: url(http://localhost:4000/images/icon.png);
    background-repeat: no-repeat;
}
.ml5 {
    margin-left: 5px;
}

.direct-top-tit .ht {
    display: block;
    width: 211px;
    overflow: hidden;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.icon-upblack {
    width: 16px;
    background-position: -169px -177px;
    margin-right: 5px;
}

.wrapper1 {
    height: 170px;
    position: relative;
    overflow-x: hidden;
    background: #123456;
}
.rotate0 {
    transform: rotate(0deg);

}
.rotate180 {
    transform: rotate(180deg);
}


.direct-head {
    width: 100%;
    text-align: center;
    background: #ffffff;
}